.bg1{
    background-image: url(../assets/bg1.jpg);
    height:300px;
    height: 822px;

}
.bg2{
    background-image: url(../assets/bg2.jpg);
     display: flex;
    justify-content: center;
  align-items: center;
  width: 1200px;
  height: 637px;
}
.bg3{
   background-color:  #EEEEEE;
   Width: 1200px;
   height: 700px;

}
.bg4{
    background-color: #464547
}

.logoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63px;  
  height: 63px;

}
.center {
  text-align: center;
}
.centerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray

}
h1 {
    color: white
}
p{
    color: gray
    
}
.textWhite {
    color: white
}

.roundbutton {
  border-radius: 50%;}
.smallLogo{
    height: 20px;
    width: 20px;
}
body {
    padding: 50px;
    background-color: #EEEEEE;
width: 1200px;

}
.header {
  overflow: hidden;
  padding: 2px 100px;
  display: grid;
  grid-template-columns: 35% 65%;
}

.header a {
  float: left;
  color: wheat;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  color: wheat;
}

.header-right {
  float: left;
  padding: 2px 300px
}
.headline{
  position: absolute;
width: 669px;
height: 119px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
/* or 133% */


color: #464547;
}
nav {
  display: flex;
  flex-direction: row;
}
.twop{
  padding-top: 300px;
   display: grid;
  grid-template-columns: 40% 20% 40%;
}
.topnav .icon {
  display: none;
}
.footer{
  padding: 30px;
  display: grid;
   grid-template-columns: 33% 33% 33%;
}
.learnMore{
width: 432px;
height: 111.91px;


font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
/* or 133% */

text-align: center;

color: #FFFFFF;

}
.underheader{
  
width: 426px;
height: 57px;


font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

color: #666666;

}
.learnMoreDescr{
  position: absolute;
width: 351px;
height: 97.56px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

color: #FFFFFF;
}
@media (max-width: 768px) {
  .bg1{
    background-image: url(../assets/bg1.jpg);
position: absolute;
width: 493px;
height: 816px;
}
.bg2{
    background-image: url(../assets/bg2.jpg);
     display: flex;
    justify-content: center;
  align-items: center;
width: 493px;
  height: 637px;
}
.bg3{
   background-color:  #EEEEEE;
width: 493px;
   height: 700px;

}
.bg4{
    background-color: #464547;
    width: 493px;

    
}
.wrapper {
  Width :480px;
Height:2715px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
}
.section1 {
  grid-row: 1 / 2;
}

.section2 {
  grid-row: 3 / 4;
}

.section3 {
  grid-row: 5 / 6;
}
.ad1 {
  grid-row: 2 / 3;
}

.ad2 {
  grid-row: 4 / 5;
}
.headline{
  position: absolute;
width: 355px;
height: 200px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 64px;
/* or 133% */

text-align: center;
padding: 30px;

}


}
@media screen and (max-width: 768px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}